{% extends "base.html.j2" %}
{% block title %}{{ band.name }} — Музыка — LiveBand.Ru{% endblock %}
{% block content %}
{% include "item_nav.html.j2" %}

{% if youtube_clips %}
<h3 class="und">Видео</h3>
{% for clip in youtube_clips %}
<p id="{{ clip.id }}" class="linkObj">
  <iframe width="560" height="315"
     src="https://www.youtube.com/embed/{{ clip.youtube_id }}"
     frameborder="0" allowfullscreen=""></iframe>
  {% if clip.name %}<br/><b>{{ clip.name }}</b>{% endif %}
  {% if clip.comments %}<span class="comments">{{ clip.comments }}</span>{% endif %}
</p>
{% endfor %}
{% endif %}

{% if audio_clips %}
<h3 class="und">Аудио</h3>
<ul>
{% for clip in audio_clips %}
<li id="{{ clip.id }}" class="sound">
  <span class="file"><a href="{{ clip.url }}">{{ clip.name or clip.url }}</a></span>
  {% if clip.comments %}<br/>{{ clip.comments }}{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}

{% if not youtube_clips and not audio_clips %}
<p class="main">Медиафайлы не добавлены.</p>
{% endif %}
{% endblock %}
