{% extends "base.html.j2" %}
{% block title %}{{ band.name }} — О группе — LiveBand.Ru{% endblock %}
{% block content %}
{% include "item_nav.html.j2" %}

{% for review in reviews %}
<h3>
  <a name="{{ review.reviewer_token or 'review-' ~ loop.index }}">
    {{ review.reviewer_name }} — {{ band.name }}{% if review.header %}: {{ review.header }}{% endif %}
  </a>
</h3>
<div class="main">
  {% if loop.first and main_photo %}
  <div class="photo">
    <img src="/band/{{ band.token }}/images/{{ main_photo.url }}" title="{{ band.name }}" />
  </div>
  {% endif %}
  {{ review.text | safe }}
</div>
{% if not loop.last %}<hr width="80%" align="center" />{% endif %}
<div class="clear"></div>
{% else %}
<p class="main">Рецензий нет.</p>
{% endfor %}
{% endblock %}
